[Unit]
Description=Run V5 ledger status every 5 minutes (offset)

[Timer]
OnCalendar=*:0/5:20
Persistent=true
AccuracySec=1min
RandomizedDelaySec=20s
Unit=v5-ledger.service

[Install]
WantedBy=timers.target
